

.contact__header {
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 50%;
	transform: translateX(-50%);
	max-width: 750px;
}

.contact__main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
}

/* ================================ FORM ELEMENTS ========= */
	.contact__form {
		margin: 0 20px;
	}

	.contact__message-selectors {
		display: flex;
	}

	.contact__support-type__box {
		display: flex;
		flex-direction: column;
		margin: 15px 0;
	}

	.contact__support-type__options {
		margin: 10px 0;
	}

	.contact__selector-area {
		margin: 30px 0;
	}

	.contact__selector-section {
		display: inline-block;
		margin: 10px 0 0 0;
		font-weight: 700;
	}


	.contact__selector-label {
		margin: 0 25px 0 0;
	}

/* ================================ SUGGESTIONS BOX ======= */

	.contact__suggestions-box {
		margin: 0 20px;
		padding: 12px;

		border: 1px solid grey;
		border-radius: 6px;
	}

	.contact__suggestion-CTA {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.contact__suggestion-intro {
		max-width: 300px;
	}

	.contact__help-link { font-style: italic; }

/* ================================ ERROR BOX ============= */

	.contact__error-box {
		padding: 10px;
	}

	.contact__error-copy {
		color: red;
	}