

.layout__centering-div {
	margin-top: 20vh;
	margin-left: 50%;
	transform: translateX(-50%);
	padding: 20px;
	min-width: 10px;
	min-height: 10px;
	
	border: 1px solid gold;
}

.small-space { height: 50px; }
.medium-space { height: 100px; }
.large-space { height: 200px; }